<body
  [ngStyle]="{
    'background-color': startVisible ? 'rgb(128,176,72)' : 'pink'
  }"
>
  <section id="heading">
    <img src="/assets/imgs/logo.png" alt="" />
    <span>
      <button class="btn btn-light" (click)="onSettings()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          />
        </svg>
        Settings
      </button>
    </span>
  </section>
  <section
    id="timer"
    [ngStyle]="{
      'background-color': startVisible ? 'rgb(48,120,32)' : 'pink'
    }"
  >
    <span>
      <button
        id="optionButton"
        type="button"
        class="btn btn-success"
        (click)="onTimerBreak()"
      >
        Timer
      </button>
      <button
        id="optionButton"
        type="button"
        class="btn btn-success"
        (click)="onShortBreak()"
      >
        Short Break
      </button>
      <button
        id="optionButton"
        type="button"
        class="btn btn-success"
        (click)="onLongBreak()"
      >
        Long Break
      </button>
    </span>
    <h1>{{ this.numberDisplay }}</h1>
    <button
      id="start"
      type="button"
      class="btn btn-success btn-lg"
      (click)="onStart()"
      (click)="toggleDisplays()"
      *ngIf="startVisible"
    >
      Start
    </button>
    <button
      *ngIf="!startVisible"
      type="button"
      class="btn btn-danger btn-lg"
      (click)="toggleDisplays(); onStop()"
    >
      Stop
    </button>
  </section>
</body>
