
body {
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
      font-family: "monaco", monospace;
    }
    
    section {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    color: black;
      font: monospace;
    }
    
    .Time{
      margin:auto;
    width: 50px;
    display:flex;
    flex-direction:column;
    }

   