<body>
  <section>
    <h1>Settings :3</h1>
    <p>Time(in minutes)</p>
    <label class="Time" for="totaltime">Total Time</label>
    <input
      type="number"
      id="totaltime"
      name="total"
      min="0"
      max="120"
      value="60"
      [(ngModel)]="totalTime"
    />
    <label class="Time" for="shortbreak">Short Break</label>
    <input
      type="number"
      id="shortbreak"
      name="sbreak"
      min="0"
      value="5"
      [(ngModel)]="shortBreakTime"
    />
    <label class="Time" for="longbreak">Long Break</label>
    <input
      type="number"
      id="longbreak"
      name="lbreak"
      min="0"
      value="15"
      [(ngModel)]="longBreakTime"
    />

    <button type="button" class="btn btn-primary" (click)="onBack()">
      Back
    </button>
  </section>
</body>
