body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

section {
    width: 50vw;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.3);
    color: wheat;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 3%;
    border-radius: 2cm;
}

button {
    margin-top: 10px;
}